<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=Admin\SQLEXPRESS;Initial Catalog=QL_HSUT;Persist Security Info=True;User ID=anngo;Password=123;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>